:ruby
  js_data = {
    :csspath => asset_path("bootstrap-wysihtml5.css"),
    :jspath => asset_path("bootstrap-wysihtml5.js"),
    :config_options => field.config_options.to_json
  }


= form.localized_fields do |localized_fields|
  = localized_fields.label localized_fields.language
  = localized_fields.text_area field.method_name, field.html_attributes.reverse_merge(:data => { :richtext => 'bootstrap-wysihtml5', :options => js_data.to_json }).reverse_merge((hdv = field.html_default_value).nil? ? { :value => field.formatted_value } : { :value => hdv })

